<!DOCTYPE html>{%load staticfiles%}
{%load static%}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Motel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />	
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600' rel='stylesheet' type='text/css'>
   <!--//webfonts-->
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Connect24{% endblock %}</title>
  </head>
  <body>
  <div class="banner1">
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="{%url 'home'%}">West247</a></h1>
				</div>
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!--/.navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="{%url 'apartments'%}">Apartments</a></li>
								<!--<li><a href="shortcodes.html">Automobile</a></li> -->
							<!--	<li><a href="rooms.html">Hotels</a></li> -->
							<li><a href="offers.html">Hotels</a></li> 
								
								{% if user.is_authenticated %}
								<li class="active"><a href="{% url 'logout' %}">Logout </a></li>
								<li> <a href="{% url 'baze_test' %}">Add listings</a></li>
								{% else %}
								<li class="active"><a href="{% url 'login' %}">Login in</a></li>
								<li> <a href="{% url 'signup' %}">Sign up to add listings</a></li>
								{% endif %}
								<!--<li><a href="contact.html">Contact</a></li> -->
							</ul>
						</div>
						<!--/.navbar-collapse-->
					</nav>
				<div class="search-box">
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
							</form>
					</div>
				</div>
					<div class="clearfix"> </div> 


			</div>
		</div>
			<div class="banner-info">
			<div class="container">
				<div class="details-1">
				<form method="get" enctype="multipart/form-data">
					<div class="col-md-10 dropdown-buttons">   
					<!--	<div class="col-md-3 dropdown-button">           			
							<div class="input-group">
								<input class="form-control has-dark-background" name="county" id="county" placeholder="Apartments" type="text" >
							</div>
						</div> -->
						<div class="col-md-3 dropdown-button">
						  <div class="section_1">
							 <select id="country" name="county" onchange="change_country(this.value)" class="frm-field required">
								
								<option value="bungoma">Bungoma</option>         
								<option value="kakamega">Kakamega</option>
								<option value="busia">Busia</option>
								<option value="vihiga">Vihiga</option>
							 </select>
						  </div>
						</div>
						<div class="clearfix"> </div>
						<!---strat-date-piker---->
							<link rel="stylesheet" href="{%static 'css/jquery-ui.css'%}" />
							<script src="{%static 'js/jquery-ui.js'%}"></script>
							  <script>
									  $(function() {
										$( "#datepicker,#datepicker1" ).datepicker();
									  });
							  </script>
						<!---/End-date-piker---->

					<!--	<div class="col-md-3 dropdown-button">           			
							<div class="book_date">
								<form>
									<input class="date" id="datepicker" type="text" value="Check In" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Check In';}">
								</form>
							</div>		
						</div>
					  <div class="col-md-3 dropdown-button">           			
							<div class="book_date">
								<form>
									<input class="date1" id="datepicker1" type="text" value="Check Out" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Check Out';}">
								</form>
							</div>		
						</div> -->
						
					</div> 
					<div class="col-md-2 submit_button"> 
						
							<input type="submit" value="Filter">
						
					</div>
					<div class="clearfix"> </div>
					</form>
				</div>
			</div>
		</div>
		</div>
    <main>
      {% block content %}
      {% endblock %}
    </main>
	<!-- search-scripts -->
					<script src="{% static 'js/classie.js' %}"></script>
					<script src="{% static 'js/uisearch.js' %}"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
				<!-- //search-scripts -->
  </body>
</html>